html{
    font-family: "Ariel", "Helvetica", sans-serif;
    
    margin: auto;
    width: 65%;
    text-align: center;
    background-color: #2C3036;
    position: relative;

}

b{
    font-family: "Garamond", sans-serif;
    color: #3079E8;
    
}

p{
    font-family: 'Pacifico', initial;
    font-size: 20px;
    margin: 0px;
    color: #F5F4DF;
    background-color: #2B2C33;
    font-weight: 700;
}

form{
    color:aliceblue;
    
}

h2{
    color: white;
    border: 3px solid grey;
    padding: 10px;
    background-color: #474954;
}
    
button{
    font-size: 15px;
    color: white;
    height: 30px;
    background-color: #5E5D5A;
}

button:hover {
    background-color: #ccfff3;
    color: black;
}

input{
    font-size: 15px;
    color: #F5F0DF;
    height: 30px;
    background-color: #5E5D5A;
    float: left;
}

input:hover {
    background-color: #3079E8;
    color: black;
}
