#signin-button {
    font-size: 15px;
    color: white;
    height: 30px;
    background-color: #5E5D5A;
}
#signin-button {
    position: Centered;
}

#signin-button:hover {
    background-color: #ffff99;
    color: black;
}

/*All buttons but 'Sign In'*/ 
button {
    font-size: 15px;
    color: white;
    height: 30px;
    background-color: #5E5D5A;
}

button:hover {
    background-color: #ccff99;
    color: black;
}

form {
    color: purple;
}

/*
html {
    font-family: "Ariel", "Helvetica", sans-serif;
    border: 4px solid grey;
    
    margin: auto;
    width: 50%;
    border: 7px solid grey;
    padding: 10px;
    
    text-align: center;d
    border: 10px solid grey;
    
    position: relative;
    background-blend-mode: color-burn;
}
*/

h1 {
    font-family: 'Pacifico', initial;
    font-size: 2em;
    margin: opx;
    color: white;
    background-color: #2B2C33 ;
    font-weight: 700;
}

form {
    color:aliceblue;
    
}

h2 {
    color: white;
    border: 3px solid grey;
    padding: 10px;
    background-color: none;
    text-align: center;
}

h3 {
    color: white;
}

#title {
    color: white;
    border: none;
    padding: 0px;
    text-align: left;
}

form {
    background-color: #7C7F94;
}

body {
    background-color: #414242;
   
}

#usernameDiv {
    color: white;  
}

#menu {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

#logoutbutton {
    float: right;
}

#guestLogIn1 {
    float: right;
}

#registerButton {
    float: right;
}

#signInContainer {
    margin: auto;
    width: 40%;
    display: inline-block;
    padding: 20px;
}

#registerContainer {
    margin: auto;
    width: 40%;
    display: inline-block;
    float: right;
    padding: 20px;
}

#yourCalcs {
    margin: auto;
    width: 40%;
    display: inline-block;
    padding: 20px;
}

#yourFavorites {
    margin: auto;
    width: 40%;
    display: inline-block;
    float: right;
    padding: 20px;
}

#prebuiltTemplates {
    margin: auto;
    width: 45%;
    display: inline-block;
    padding: 20px;
}

#userBuiltTemplates {
    margin: auto;
    width: 45%;
    display: inline-block;
    float: right;
    padding: 20px;
}

#webTitle {
    display: inline-block;
    float: left
    padding: 20px;
}

#webUser {
    display: inline-block;
    float: right;
    padding-right: 30px;
}
